body {
    font-family: 'Work Sans', sans-serif;
}
header, main, footer {
    background-color:#ffffff;
    padding: 15px 0;
}
header{
    background-color:rgb(212, 180, 241);
    margin-top: 20px;
    border-radius: 20px;
    max-width: 1300px;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

#aside-content {
    float: left;
    width: 30%;
}
#main-content {
    float: left;
    width: 70%;
}
.main-section{
    margin-bottom: 30px;
}
.sub-section{
    margin-bottom: 15px;
}
.imagen-perfil {
    display: block;
    width: 250px;
    height: auto;
    margin: 15px auto;
    border-radius: 50%;
    border: 4px solid rgb(85, 15, 150);
}

h1, h2 {
    text-align: center;
}
h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}
h2{
    font-weight: 700;
}
h3{
    margin: 5px 0;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
  
}
h4{
    margin: 3px 0;
    font-size: 18px;
}
.empresa{
    font-style: italic;
    color: rgb(51, 47, 47);
}
.form-contacto input, .form-contacto label, .form-contacto textarea {
    display: block;
    width: 80%;
}
.form-label{
    margin-top: 5px;
    font-weight: 700;
    color: rgb(51, 47, 47);
}

.form-input {
    outline: none;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 4px;
}

#form-submit {
    margin-top: 10px;
}

.separador{
    width: 85%;
    height: 3px;
    background-color: rgb(142, 24, 245);
    margin: 15px 0;
    
}
td, th {
    padding-right: 15px;
    text-align: left;
}
footer > p{
    text-align: center;
}

.item-alineado {
    vertical-align:middle;
}
.no-padding {
    padding-left: 0;
}
li{
    list-style: none;
}
table > caption {
    text-align: left;
}
    
.form-error {
    border-color: red;
    
}