body {
    font-family: 'Work Sans', sans-serif;
}
header, main, footer {
    max-width: 1200px;
    min-width: 750px;
    margin: 0 auto;
    background-color:#ffffff;
    padding: 15px 0;
}
header{
    background-color:rgb(212, 180, 241);
    margin-top: 20px;
    border-radius: 20px;
    max-width: 1300px;
}
#aside-content {
    float: left;
    width: 30%;
}
#main-content {
    float: left;
    width: 70%;
}
.main-section{
    margin-bottom: 30px;
}
.sub-section{
    margin-bottom: 15px;
}
.clear {
    clear :both;
}
.imagen-perfil {
    display: block;
    width: 250px;
    height: auto;
    margin: 15px auto;
    border-radius: 50%;
    border: 4px solid rgb(85, 15, 150);
}

h1, h2 {
    text-align: center;
}
h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}
h2{
    font-weight: 700;
}
h3{
    margin: 5px 0;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
  
}
h4{
    margin: 3px 0;
    font-size: 18px;
}
.empresa{
    font-style: italic;
    color: rgb(51, 47, 47);
}
.form-contacto input, .form-contacto label, .form-contacto textarea {
    display: block;
    width: 80%;
}
.form-label{
    margin-top: 5px;
    font-weight: 700;
    color: rgb(51, 47, 47);
}
input[type="button"]{
    width: 80px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    background-color: blueviolet;
    padding: 2px 5px;

}
input[type="button"]:hover{
    cursor:pointer;
}
.separador{
    width: 85%;
    height: 3px;
    background-color: rgb(142, 24, 245);
    margin: 15px 0;
    
}
td, th {
    padding-right: 15px;
    text-align: left;
}
footer > p{
    text-align: center;
}
a:link, a:visited {
   text-decoration: none;
   color: blueviolet;
   padding: 2px 5px;
   display: inline-block;
   border-radius: 4px;
   border: 1px solid blueviolet;
  }
a:hover, a:active {
    background-color: gray;
    color: white;
}

.item-alineado {
    vertical-align:middle;
}
ul {
    padding-left: 0;
}
li{
    list-style: none;
}
    
